<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{comm/layout/default-layout}">
<head>
    <title>카테고리 관리</title>
    <th:block layout:fragment="link" >
        <link rel="stylesheet" href="/css/jtree/style.min.css" />
    </th:block>
</head>
<body>
<!-- layout1.html 파일의 <div layout:fragment="content"> 영역에 들어가는 영역 -->
<div layout:fragment="content">
    <div class="animated fadeIn">

        <div class="row">

            <div class="col-xs-6 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>카테고리</strong>
                    </div>
                    <div class="card-body card-block">
<!--                        <div class="form-group">-->
<!--                            <label class=" form-control-label">Credit Card Number</label>-->
<!--                            <div class="input-group">-->
<!--                                <div class="input-group-addon"><i class="fa fa-credit-card"></i></div>-->
<!--                                <input class="form-control">-->
<!--                            </div>-->
<!--                            <small class="form-text text-muted">ex. 9999 9999 9999 9999</small>-->
<!--                        </div>-->
                        <div id="jstree_demo_div"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">카테고리 정보</strong>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script" >
<script src="/js/jtree/jstree.min.js"></script>
<script>
    /*<![CDATA[*/

    $( document ).ready(function() {
        $('#jstree_demo_div').on("changed.jstree", function (e, data) {
			if(data.selected.length) {
				alert('The selected node is: ' + data.instance.get_node(data.selected[0]).id);
			}
		})
		.jstree({
            'core' : {
                'data' : [

                    { "id" : "S1", "parent" : "#", "text" : "여행"},
                    { "id" : "S2", "parent" : "#", "text" : "웹툰"},
                    { "id" : "S3", "parent" : "#", "text" : "소설"},
                    { "id" : "S11", "parent" : "S1", "text" : "유럽"},
                    { "id" : "S12", "parent" : "S1", "text" : "아시아"}

                ]
            }
        });
    });

    /*]]>*/
</script>
</th:block>
</body>
</html>